body, html {
    height: 100%;
    margin: 0;
    background-color: #000000;
}

.razor {
    color: #ffffff;
    background-color: #000000;
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 0 10px #0004ff;
}

.text {
    color: #000000;
}

textarea {
    resize: none;
    border-radius: 5px;
    box-shadow: 0 0 20px #0004ff;
}

button {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 20px #0004ff;
}


@media (max-width: 768px) {
    .razor {
        margin: 20px;
        padding: 15px;
    }
    textarea, button {
        width: 100%;
    }
}
